
@font-face {
    font-family: 'WarioLand4CHMC';
    src: url("https://github.com/zoervolino/zoe/blob/ecabd3526f68347caabcd22973ada4d47e80824c/Love%20Letters.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Love Letters';
    src: url("Love Letters.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
  font-size: 32px;
  font-family: WarioLand4CHMC;
  text-align:center;
  color:indigo;
}

h1,h2,h3,h4,h5,h6{
  font-family: Love Letters;
  font-size: 40pt;
  color:Magenta;
}
